# idea

.idea/

# pipenv

Pipfile.lock

# django
manage.py
django_blog/asgi.py
django_blog/settings.py
django_blog/wsgi.py

# blog app

blog/admin.py
blog/apps.py
blog/models.py
blog/tests.py

# databases
db.sqlite3