# idea

.idea/

# pipenv

Pipfile.lock

# django
manage.py
django_blog/asgi.py
django_blog/settings.py
django_blog/wsgi.py

# blog app

blog/admin.py
blog/apps.py
blog/tests.py
blog/migrations

# users app

users/admin.py
users/apps.py
users/tests.py
users/migrations

# databases
db.sqlite3